@font-face {
    font-family: "Inter";
    src: url(assets/fonts/Inter-VariableFont_slnt\,wght.ttf);
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Inter";
}

body {
    display: grid;
    place-items: center;
    height: 100dvh;
    background-color: hsl(0, 0%, 8%);
}

.container {
    width: 350px;
    height: auto;
    background-color: hsl(0, 0%, 12%);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1.5em;
    gap: 1em;
    border-radius: 0.75em;
}

.card-top {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1em;
}

.profile-image > img {
    width: 75px;
    border-radius: 100px;
}

.personal-info {
    display: flex;
    flex-direction: column;
    gap: 0.5em;
}

.name {
    color: white;
    font-size: 21px;
    text-align: center;
    font-weight: 400;
}

.location {
    color: hsl(75, 94%, 57%);
    font-size: 12px;
    text-align: center;
    font-weight: 500;
}

.bio {
    color: white;
    font-size: 12px;
    text-align: center;
    font-weight: 200;
}

.buttons {
    display: flex;
    flex-direction: column;
    gap: 0.75em;
}

button {
    width: 275px;
    padding: 0.75em;
    border-radius: 0.5em;
    border-style: none;
    background-color: hsl(0, 0%, 20%);
    color: white;
    font-size: 12px;
}

button:hover {
    background-color: hsl(75, 94%, 57%);
    color: hsl(0, 0%, 8%);
}

.attribution {
    font-size: 11px; 
    text-align: center; 
    bottom: 0%;
    position: fixed;
}

.attribution a {
    color: hsl(228, 45%, 44%); 
}